[submodule "extern/filecoin-ffi"]
	path = extern/filecoin-ffi
	url = https://gitlab.com/abmatrix/filecoin-ffi.git
	branch = develop
[submodule "extern/serialization-vectors"]
	path = extern/serialization-vectors
	url = https://github.com/filecoin-project/serialization-vectors
[submodule "extern/test-vectors"]
	path = extern/test-vectors
	url = https://github.com/filecoin-project/test-vectors.git
